<<<<<<< HEAD

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
=======
/* importaciones de fuente */
@import url('https://fonts.cdnfonts.com/css/ysabeau-sc');
@import url('https://fonts.cdnfonts.com/css/quito');


:root{

    /* paleta de colores */

    --colorHeader: #4B376C;
    --colorFooter: #4B376C;
    --colorFondo: #E7B5D0;
    --colorTitulos: #C224CE;

    /* fuentes */
    --textTitle: 'Ysabeau SC', sans-serif;
    --textContent: 'Quito', sans-serif

}
/* margenes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    overflow-x: hidden;
>>>>>>> subrama-Rafael
}


:root{
    --tituloProductos:"Rubik", sans-serif; 
    --tituloSecundario:'Raleway', sans-serif;
    --colorBoton: #E6AEEA;
    --colorTitulo: #C224CE; 
    --colortexto: #4B376C;

                                                
}


/*cestilos header */
   
header{
<<<<<<< HEAD
    background-color: blueviolet;
    width: 100vw;
    height: 100px;
}

/*titulo productos*/

.titulo{
    font-family: var(--tituloProductos);
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    color: var(--colorTitulo);
    
    

   
}

.tituloProducto{
    font-family: var(--tituloSecundario);
    color: var(--colortexto);

}

.precio{
    font-family: var(--tituloSecundario);
    font-weight: bold;
    color: var(--colortexto);

}

.añadir{
    font-family: var(--tituloProductos);
    gap: 5%;
    color: var(--colortexto);
    background-color: var(--colorBoton);
    
    
}

.misProductos img{
    width: 200px;
    height: 200px;
    border-radius: 8%;
}