
/* IMPORTACIONES - FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



:root{
    /* PALETA DE COLORES */
    --color_fondo: #f0f0f0;
    --color_titulos: #C224CE;
    --color_menu_footer: #4B376C;
    --color_pastel: #ecaaee;
    --color_letra: black;
    --color_letra_blanca: #f0f0f0;

    /* TIPOGRAFÍAS */
    --text_title: 'Rubik Mono One', 'sans-serif';
    --text_subtitles: 'Rubik', 'sans-serif';
    --text_content: 'Raleway', 'sans-serif';
}


/* CONDICIONES INICIALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* INICIO BODY */
body{
    background-color:#f0f0f0;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}


/* -------------------HEADER------------------ */


header{
    background-color: var(--color_menu_footer);
    font-family: var(--text_subtitles);
    
}


.mi_navbark{
    font-weight: bold;
}

.mi_navbark :hover{
   color: var(--color_titulos);
}


.baner img{
    width: 100%;
    height: auto;
}



/* --------------------MAIN------------------- */


main{
    width: 100%;
    height: auto;
}


/* SECCIÓN CARDS */
.container_cards{
    width: 100%;
    height: auto;
    padding: 3%;
}


.mis_cards{
    min-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10%;
}

.mis_cards img{
    width: 250px;
    height: 300px;
}



.container_cards{
    width: 100%;
    height: auto;
}

.card_fondo{
    background-color: var(--color_pastel);
}


.card_titulo{
    font-size: 31px;
    color: var(--color_letra);
    font-family: var(--text_subtitles);
    font-weight: bold;
}
.boton{
    background-color: var(--color_menu_footer);
    color: var(--color_letra_blanca);
    font-family: var(--text_content);
}





/* SECCIÓN TRABAJEMOS JUNTOS */

.contenido{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.trabajemos_juntos{
    display: flex;
    gap: 20%;
    align-items: center;
    padding: 7%;
 
}

.trabajemos_juntos h2{
    font-size: 65px;
    color: var(--color_menu_footer);
    font-family: var(--text_subtitles);
    font-weight: bold;
}


.trabajemos_juntos p{
    font-size: 20px;
    color: var(--color_letra);
    font-family: var(--text_content);
    
}


.contenido2{
    width: 75%;
    height: auto;
}



/* SECCIÓN LO MÁS DESTACADO */
.contenedor_principal{
    font-family: var(--text_subtitles);
    width: 100vw;
}

.contenedor_principal h2{
    font-family: var(--text_subtitles);
    font-size: 45px;
    display: flex;
    justify-content: center;
    color: var(--color_titulos);
    font-weight: bold;
}

.contenedor_imagenes{
    margin-top: 40px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  
}

.contenedor_imagenes img{
    width: 70%;
    height: 90%;
}


.imagenes{
    display: grid;
    position: relative;
}


.img1{
    grid-row: 1/2;
    grid-column: 1/2;
}

.img2{
    grid-row: 1/2;
    grid-column: 2/3;
}

.img3{
    grid-row: 1/2;
    grid-column: 3/4;
}

.img4{
    grid-row: 1/2;
    grid-column: 4/5;
}


.nombre_producto{
    font-size: 25px;
    font-family: var(--text_subtitles);
    color: var(--color_titulos);
    font-weight: bold;
}

.precio_producto{
    font-size: 20px;
    font-family: var(--text_subtitles);
    color: var(--color_letra);
    font-weight: bold;
}










/* -------------------FOOTER------------------ */

footer{
    height: 150px;
    width: 100%;
    padding: 20px;
    background-color: #4B376C;
    color: var(--color_letra_blanca);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--text_subtitles);
    font-weight: bold;
}

.contenedor_footer{
    font-family: var(--text_subtitles);
}

.titulo_footer{
    font-size: 30px;
}

.contenedor_secciones{
    width: 100vw;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.contenedor_secciones div{
    width: 100%;
    height: 100%;
}

.nombre{
    font-size: 25px;
}

.redes_sociales a{
    color: var(--color_letra_blanca);
    font-size: 30px;
}

.redes_sociales a :hover{
    color: var(--color_titulos);
    cursor: pointer;
}





@media screen and (max-width: 490px){
    

    /* SECCIÓN TRABAJEMOS JUNTOS */
    .trabajemos_juntos{
        display: flex;
        flex-direction: column;
    }

    .trabajemos_juntos h2{
        width: 100%;
        font-size: 40px;
    }
    
    .trabajemos_juntos p{
        width: 100%;
    }




    /* SECCIÓN LO MÁS DESTACADO */
    
    .contenedor_principal h2{
        font-size: 40px;
        display: flex;
      
    }

    .contenedor_imagenes{
        display: flex;
        flex-direction: column;

    }

    .contenedor_imagenes img{
        width: 100%;
    }


    
    /* SECCIÓN FOOTER */

    .contenedor_secciones{
        display: flex;
        flex-direction: column;
    }

    .contenedor_secciones h2{
        font-size: 15px;
    }

    .contenedor_secciones a{
        font-size: 15px;
    }
}

