*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


:root{
    --tituloProductos:"Rubik", sans-serif; 
    --tituloSecundario:'Raleway', sans-serif;
    --colorBoton: #E6AEEA;
    --colorTitulo: #C224CE; 
    --colortexto: #4B376C;
    --color_letra_blanca: #ffffff

                                                
}


body{
    overflow-x: hidden;
}


/*cestilos header */
   
header{
    background-color: blueviolet;
    width: 100vw;
    height: 100px;
}

/*titulo productos*/

.titulo{
    font-family: var(--tituloProductos);
    font-weight: bold;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 7%;
    color: var(--colorTitulo);
    
    

   
}

.tituloProducto{
    font-family: var(--tituloSecundario);
    color: var(--colortexto);

}

.precio{
    font-family: var(--tituloSecundario);
    font-weight: bold;
    color: var(--colortexto);

}

.añadir{
    font-family: var(--tituloProductos);
    gap: 5%;
    color: var(--colortexto);
    background-color: var(--colorBoton);

 
}

.añadir:hover {
    background-color: var(--colorTitulo);
    color:white
}

.misProductos img{
    width: 200px;
    height: 200px;
    border-radius: 8%;
}

.img1{
 margin-bottom: 50%;
}

.img2{
    margin-bottom: 50%;
   }

   .img3{
    margin-bottom: 50%;
   }

   .img4{
    margin-bottom: 50%;
   }


.img5{
    margin-bottom: 50%;
}

.img6{
    margin-bottom: 50%;
   }

.img7{
 margin-bottom: 50%;
}

.img8{
    margin-bottom: 50%;
   }

.img9{
    margin-bottom: 50%;
} 

.img10{
    margin-bottom: 50%;
   }

   .img11{
    margin-bottom: 50%;
   }

   .img12{
    margin-bottom: 50%;
   }


/* estilos header*/

header{
    background-color: #4B376C;
    font-family: var(--text_subtitles);
    
}


.mi_navbark{
    font-weight: bold;
}

.mi_navbark :hover{
   color: var(--color_titulos);
}

/*INICIO FOOTER*/

footer{
    height: 150px;
    width: 100%;
    padding: 20px;
    background-color: #4B376C;
    color: var(--color_letra_blanca);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--text_subtitles);
    font-weight: bold;

}

.contenedor_footer{
    font-family: var(--text_subtitles);
}

.titulo_footer{
    font-size: 30px;
}

.contenedor_secciones{
    width: 100vw;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.contenedor_secciones div{
    width: 100%;
    height: 100%;
}

.nombre{
    font-size: 25px;
}

.redes_sociales a{
    color: var(--color_letra_blanca);
    font-size: 30px;
}

.redes_sociales a :hover{
    color: var(--color_titulos);
    cursor: pointer;
}

@media screen and (max-width: 490px){
    /* SECCIÓN FOOTER */

    .contenedor_secciones{
        display: flex;
        flex-direction: column;
    }

    .contenedor_secciones h2{
        font-size: 15px;
    }

    .contenedor_secciones a{
        font-size: 15px;
    }
}

/*productos*/

@media screen and (max-width: 490px){
    

   
}

